/* Code comment style */
.mtk3 {
  color: #008c7d !important;
}

/* Command Palette */
.quick-input-widget {
  transform: translateY(-50%) !important;
  top: 50% !important;
  box-shadow: -20px 5px 20px 15px rgb(0 0 0 / 45%) !important;
  padding: 10px 10px 18px 10px !important;
  background-color: rgb(34 34 34 / 95%) !important;
  border-radius: 20px !important;
}

/* Command palette text input */
.quick-input-filter .monaco-inputbox {
  border-radius: 12px !important;
  padding: 8px !important;
  border: none !important;
  background-color: rgba(34, 34, 34, 0.4) !important;
  font-family: monospace !important;
  font-size: 14px !important;
  margin-bottom: 16px !important;
}

.monaco-list-rows {
  background: rgb(45 45 45 / 50%) !important;
}

.letterpress {
  background-image: url("https://d2bzx2vuetkzse.cloudfront.net/fit-in/0x450/unshoppable_producs/5a83c538-a497-4a72-a330-b06fb9ab37d6.png") !important;
  background-repeat: no-repeat no-repeat !important;
  background-position: center center !important;
  background-size: contain !important;
  width: 100% !important;
}

.monaco-workbench
  .part.titlebar
  > .titlebar-container
  > .titlebar-left
  > .window-appicon:not(.codicon) {
  background-image: url("https://d2bzx2vuetkzse.cloudfront.net/fit-in/0x450/unshoppable_producs/5a83c538-a497-4a72-a330-b06fb9ab37d6.png") !important;
  background-repeat: no-repeat no-repeat !important;
  background-position: center center !important;
  background-size: contain !important;
  width: 100px !important;
}

.monaco-hover {
  border-radius: 10px !important;
  box-shadow: -10px 5px 20px 15px rgb(0 0 0 / 45%) !important;
}
